
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', arial, sans-serif;
}


body, html {
    -webkit-text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/* General Settings */

.container {
    min-width: 1200px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    fontt-
}

h1 {
    font-size: 30px;
    line-height: 42px;
}

h2 {
    font-size: 30px;
    line-height: 42px;
}
p {
    font-size: 19px;
    line-height: 27px;
}

/* =================================Header================================= */
/* Background image */

.hero-image{
    background-image: linear-gradient(rgba(62,42,63,.7),rgba(62,42,63,.7)), url(images/hero.png);
    background-size: cover;
    color: #fff;
    height: 450px;
    background-position: 85% 30%;
    position: relative;
}

/* Logo and Navbar */
nav {
    width: 1200px;
    margin: auto;
}

.logo {
    display: inline-block;
    margin-top: 25px;
}

.top-nav {
    display: inline-block;
    margin-left: 625px;
    margin-top: 35px;
    vertical-align: top;

}
.top-nav li {
    display: inline-block;
    margin-left: 25px;
}

/* Hero box */

.hero-box {
    width: 750px;
    margin: 40px auto 30px;
    text-align: center;
}

form {
    margin-top: 30px;
}

#zipcode{
    width: 300px;
    padding: 12px;
    margin-right: -4px;
    outline: none;
    border-style: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}


#button {
    background-color: #F79824;
    width: 200px;
    border: none;
    padding: 12px;
    color: #fff;
    outline: none;
    transition: background-color 0.8s;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

#button:hover {
    background-color: #e67e22;
}

/* Hero-fact-box */

.hero-fact-box {
    width: 100%;
    padding: 25px 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
}
.facts li {
    display: inline-block;
    margin: 0px 80px;
}

.facts i {
    margin-right: 10px;
    font-size: 19px;
}

/* ==========================Section Media and Providers========================== */


/* magazines image */

.magazines{
    background-color: rgb(203,202,203);
    padding: 10px 0;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 45px;

}

.magazines img {
    height: 40px;
    width: auto;
}

/* Text from section goes her */
.media-and-providers {
    padding: 0px 0px 30px 0;
}
.text {
    width: 780px;
    margin: auto;
    text-align: center;
}

.text h2 {
    margin-bottom: 15px;
    color: #F79824;
    font-weight: 300;
}

.text p {
    font-weight: 300;
    margin-bottom: 50px;
}
#site-first-part {
    font-weight: 600;
}

#site-second-part {
    font-weight: 600;
    color: #006795;
}

/* Providers */

.providers img {
    height: 60px;
    width: auto;
}

.providers {
    text-align: center;
}


/* ==========================Section Recommendations========================== */

/* Background image */

.recommendation {
    background-image: linear-gradient(rgba(31,87,122,.6), rgba(31,87,122,.6)), url(images/people.png);
    background-size: cover;
    height: 450px;
    text-align: center;
}

.recommendation h2 {
    padding-top: 50px;
    color: #fff;
    font-weight: 400;
}

.review {
    display: inline-block;
    background-color: #fff;
    width: 275px;
    height: 200px;
    padding: 15px 15px;
    margin: 40px 15px;
    border-left: 2px solid #F79824;
    vertical-align: top;
    text-align: left;
}

blockquote {
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    margin-bottom: 15px;

}


cite {
    font-weight: 600;
    display: inline-block;
}
cite img {
    height: 50px;
    border-radius: 50px;
    margin-right: 15px;
    display: inline-block;
    position: relative;
    top: 20px;
}
